<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Tableau de bord étudiant</ion-title>
  </ion-navbar>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="{{ environment.appImageUrl }}{{ formation.logo }}" >
      </ion-thumbnail>
      <h2>{{ lastname }} {{ firstname }}</h2>
      <h3>Formation : {{ formation.name }}</h3>
      <ion-chip>
        <ion-icon android="android-calendar" md="md-calendar"></ion-icon>
        début:{{ formation.start_at | date: "dd.MM.yyyy" }}
      </ion-chip>
      <ion-chip>
        <ion-icon android="android-calendar" md="md-calendar"></ion-icon> 
        fin:{{ formation.end_at | date: "dd.MM.yyyy" }}
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content padding>
  <ion-list>
    <h3>Tout les modules</h3>
    <round-progress [current]="current" [radius]="45" [color]="environment.progressColorTeacher" [stroke]="8" [max]="environment.progressMax"[stroke]="environment.progressStrokeTeacher"></round-progress>
    <round-progress [current]="current" [radius]="45" [color]="environment.progressColorStudent" [stroke]="10" [max]="environment.progressMax"[stroke]="environment.progressStrokeStudent"></round-progress>
  </ion-list>

  <ion-list insert>
    <ion-item *ngFor="let module of modules" (click)="showSkills(module.id)">
      <h2>{{ module.name }}</h2>
    </ion-item>
  
    <ion-list *ngIf="moduleSkills">
      <ion-card *ngFor="let skill of moduleSkills.skills">
        <ion-card-header>
          {{ moduleSkills.name}}
        </ion-card-header>
        <ion-item>
          <h2 item-start>{{ skill.name }}</h2>
          
        </ion-item>  
        <ion-item>
          <ion-label item-content>Vous validé le {{ skill.progressionDetails.studentValidationDate | date: "dd/MM/yyyy" }}</ion-label>
          <ion-checkbox color="secondary" [(ngModel)]="skill.progressionDetails.studentValue" (ionChange)=" updateValidation(skill.getProgressionId(), skill.getStudentValue())" item-end></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label item-content>Formateur validé le {{ skill.progressionDetails.teacherValidationDate | date: "dd/MM/yyyy" }}</ion-label>
          <ion-checkbox color="secondary" disabled="true" [(ngModel)]="skill.progressionDetails.teacherValue" (ionChange)=" updateValidation(skill.getProgressionId(), skill.getStudentValue())" item-end></ion-checkbox>
        </ion-item> 
            <!-- <div>
            <ion-label>Valider par l'élève {{ skill.progressionDetails.studentValidationDate | date: "dd/MM/yyyy" }}</ion-label>
            <ion-checkbox color="green" [(ngModel)]="skill.progressionDetails.studentValue" (ionChange)=" updateValidation(skill.getProgressionId(), skill.getStudentValue())"></ion-checkbox>
  
            <ion-label>Valider par le formateur {{ skill.progressionDetails.teacherValidationDate | date: "dd/MM/yyyy" }}</ion-label>
            <ion-checkbox color="green" disabled="true" [(ngModel)]="skill.progressionDetails.teacherValue"></ion-checkbox>
          </div> -->
      </ion-card>
    </ion-list>
  </ion-list>
</ion-content>